body { background-color: rgb(193, 203, 221) }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  height: 700px;
}
#notes {
  float: right;
  background-color:  rgb(150, 173, 216);
}
textarea, input {
  display: block;
  width: 100%;
  background-color: rgb(119, 153, 218);
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
.card, .jumbotron {
    background-color:  rgb(150, 173, 216);
}
